{% extends "base" %}

{% block content %}
<ul>
    <li>
        <form
            hx-on::after-request="this.reset()"
            hx-post="/todos"
            hx-swap="beforebegin"
            hx-target="closest li">
            <input type="text" name="title" />
            <input type="submit" value="Save" />
        </form>
    </li>
</ul>
{% endblock content %}
